* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#hero {
  display: flex;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#hero h1 {
  color: white;
}

.socmed-icons {
  font-size: 120%;
}

.fa-icon {
  color: #fff;
}

.fa-icon:hover {
  color: #fc646e;
}

.fa-icon-right {
  color: #fff;
  position: fixed;
  top: 80%;
  right: 10%;
  background-color: #5DBCD2;
  padding: 25px;
}

.fa-icon-right:hover {
  color: #fff;
}

.hero-bg {
  bottom: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: -2;
  opacity: 1;
}

#spin {
  color: white;
  text-decoration: underline;
}

#spin:after {
  content: "";
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    content: "Designer";
  }
  10% {
    content: "Web Developer";
  }
  20% {
    content: "Graphic Artist";
  }
  30% {
    content: "Photographer";
  }
  40% {
    content: "Realist";
  }
  50% {
    content: "Minimalist";
  }
}
#hero .herobg-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  width: 100%;
  filter: brightness(40%);
}

section {
  background-color: #140006;
}

.sec-block {
  position: block;
  padding-bottom: 5rem;
  padding-top: 5rem;
}

.port-align-vertical {
  display: flex;
  align-items: center;
}

/* Animation */
.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 24em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

/*# sourceMappingURL=style.css.map */
